@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&display=swap');

:root {
    --Black-1: #1D1D1D;
    --Black-2: #313131;
    --Gray-1: #D9D9D9;
    --Gray-2: #777777;
    --LightGreen: #E3F1E4;
    --DarlGreen: #1E5720;
    --Burgundy: #8F2929;
    --Blue: #11569E;
    --White: #FFF;
}

*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-size: 1.6rem;
}

body, html {
    font-size: 62.5%;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    list-style-type: none;
    max-width: 1440px;
    margin: 0 auto;
}

h1 {
    font-size: 4.8rem;
}

h2, h3 {
    font-size: 3.6rem;
}

h1, h2, h3 {
    color: var(--Black-1);
}

p {
    color: var(--Gray-2);
}

header, section, footer {
    padding: 3rem 10rem;
}

/*--------------- HEADER ---------------*/

header {
    background-color: var(--LightGreen);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 15rem;
}

.mainnav ul {
    display: flex;
    justify-content: space-between;
    gap: 5.8rem;
}

.mainnav a {
    color: var(--DarlGreen);
    font-size: 2rem;
}

.mainnav a:hover, .mainnav li:hover {
    color: var(--Blue);
    border-bottom: 1px solid var(--Blue);
}

.mainnav li:hover svg path {
    stroke: var(--Blue);
}

.mainnav li svg {
    margin-left: 0.5rem;
}

a.cta {
    color: var(--White);
    font-size: 1.6rem;
    padding: .8rem 3.2rem;
    background-color: var(--DarlGreen);
}

a.cta:hover {
    border: none;
    background-color: var(--Blue);
    color: var(--White);
}

/*--------------- SECTION HERO ---------------*/

.hero {
    background-color: var(--LightGreen);
    display: flex;
    gap: 4.5rem;
    padding: 4rem 15rem;
}

.hero div {
    width: 50%;
}

.hero-textos {
    align-self: center;
}

.hero h1 {
    font-weight: 500;
    line-height: 110%;
    margin: 1rem 0;
}

.hero p {
    margin-bottom: 5rem;
}

.hero-img img {
    width: 100%;
    min-width: 43rem;
}


